<!DOCTYPE html>
<html lang="en">
<head>
	<title>Poll App</title>
	<meta charset="utf-8" />
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
	{% load static %}
</head>
	<body ng-app="pollApp" ng-controller="pollAppController">
		<div>
			<h1>poll app</h1>
			<div>
				<form ng-submit="pollAppAnswer">
				<input type="text" name="theinput">
				<input type="submit" value="submit">
				</form>
			</div>
		</div>
	<script type="text/javascript" src="{% static 'js/pollapp.js' %}"></script>
	</body>
</html>